/*============================= Form Screen ===========================*/

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
.screen {
    background-color: white;
    position: relative;
    height: 700px;
    width: 860px;
    box-shadow: 0px 0px 24px #8a9091;
    left: 40px;
    border-radius: 20px 20px 20px 20px;
    padding-left: 28px;
    padding-top: 7px;
    color: black;
}

.screen table {
    color: black;
}

.screen table p{
    margin: 0;
}
.inputform {
    width: 90%;
    height: 45px;
    background-color: #EFEFEF;
    box-shadow: inset 0px 0px 3px #8a9091;
    border-radius: 5px;
    margin-bottom: 6px;
    padding-left: 6px;
    box-shadow: #8a9091;
    position: relative;
    top: 6px;
    border: none;
}

.screen table textarea {
    background-color: #EFEFEF;
    box-shadow: inset 0px 0px 3px #8a9091;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    border: none;
    width: auto;
    height: auto;
}

.screen table input,.screen table textarea::placeholder{
    font-family: 'Inter';
    font-weight: 500;
}
.screen table input#i1 {
    width: 95%;
}

.screen table label {
    padding-bottom: 10px;
    font-weight: 600;
}

.screen table input[type=checkbox] {
    width: 20px;
    height: 20px;
}

.dropdown-div{
    height: 2.7rem;
    font-family: 'Inter';
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 5px;
    user-select: none;
}
::-webkit-scrollbar {
    width: 20px;
    cursor: pointer;
}
.dropdown::-webkit-scrollbar-thumb {
    background-color: #19758D;
    cursor: pointer;
}
::-webkit-scrollbar-thumb {
    background-color: #828282;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
    cursor: pointer;
}
.dropdown::-webkit-scrollbar-track {
    background-color: #e6e6e6;
    opacity: .5;
    border-radius: 10px;
}

.dropdown{
    list-style-type: none;
    margin: auto;
    transition: opacity 0.4s ease-in-out;
    color: #828282;
    height: 70px;
    padding: 0;
    width: 85%;
    overflow: scroll;
    overflow-x: hidden;
    text-align: left;
}
.dropdown li label {
    display: inline; 
    width: 25%;
    transition: all 0.2s ease-out;
}



.screen table button {
    border: none;
    text-align: center;
    font-size: small;
    font-family: 'Inter';
    height: 25px;
    width: 100px;
    cursor: pointer;
}
.btn1 {
    background-color: #0D5F75;
    transition-duration: 0.4s;
    color: white;
    border-radius: 5%;
    height: 40px;
    width: 170px;
    font-size: large;
    cursor: pointer;
    margin-left: 22px;
    margin-top: 1rem;
    margin-right: 65px;
}
.tagbox {
    background-color: white;
    box-shadow: 0px 0px 4px #8a9091;
    height: 206px;
    width: 220px;
    border-radius: 20px;
}


.btn2 {
    border: none;
    background-color: #EFEFEF;
    border-radius: 10%;
    height: 30px;
    width: 88px;
    cursor: pointer;
    margin: 5px;
}

.btn3 {
    background-color: white;
    color: #19758D;
}

.tags1 {
    font-size: 15px;
    text-align: center;
}

.tags-border{
    padding-bottom: 11.5rem;
}
.dropdown-div{
    user-select: none;
    font-size: 14px;
}
ul.dropdown{
    list-style: none;
    height: 160px;
    padding: 15px;
    overflow: scroll;
    overflow-x: hidden;
}
ul.dropdown li{
    display: inline;
}
ul.dropdown li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #828282;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}
ul.dropdown li label {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 12px;
}
ul.dropdown li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.dropdown li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.dropdown li input[type="checkbox"]:checked + label {
    background-color: #19758d;
    color: #fff;
    transition: all .2s;
}

ul.dropdown li input[type="checkbox"] {
  display: absolute;
}
ul.dropdown li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.dropdown li input[type="checkbox"]:focus + label {
  border: 2px solid #9fa4a8;
}

.hl {
    border-top: 2px solid #A3A3A3;
    width: 93%;
    margin-left: -3px;

}

