/* body{
    background: #bdbdbd;
    mix-blend-mode: normal;
    font-family:'Inter', Helvetica, sans-serif;
    font-style: normal;
    /* color: white; 
    width: 100%;
    height: 100%;
} */

.logo{
    height: 20px;
    width: auto;
    padding: 10px;
}

.nav-section{
    background-color: #0D5F75;
    color: #fff;
    display: flex;
    font-family: 'Inter';
    justify-content: space-between;
    vertical-align: middle;
    margin: 0%;
}

.nav-item{
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-right: 15px;
}

.nav-head{
    font-size: 15px;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 15px;
    color: #fff;
    font-style: normal;
}

.search-bar{
    display: flex;
    align-items: center;
    vertical-align: middle;
    width: 30%;
    justify-content: center;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}

.add-button{
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.add-button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
  margin-top: 13px;
  margin-bottom: 13px;
}

.add-button:hover {
  background-color: #f7fafa;
}

.add-button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

/* .icon{
    height: 25px;
    width: auto;
    padding: 10px;
    vertical-align: middle;
} */

.home-section{
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 80% 20%;
    font-family: 'Inter';
    justify-content: space-between;
    vertical-align: middle;
    margin: 0%;
}
.home-section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 10%;
    margin-bottom: 5%;
    border-right: #454545 0.7px solid;
}

.question-card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-bottom: 2%;
    margin-right: 5%;
    padding: 2%;
    width: 80%;
    cursor: pointer;
}

.icon-border{
    width: 30px;
    height: 30px;
    align-items: center;
    border: 1px solid #bdbdbd;
    border-radius: 15px;
    border-color: #000000 1px solid;
    margin-right: 10px;
}
.icon-1{
    height: 25px;
    width: auto;
    vertical-align: middle;
    margin-right: 5px;
}

.tag-top{
    display: grid;
    grid-template-columns: 5% 90% 5%;
    justify-content: left;
    align-items: center;
    margin-bottom: 0px;
}

.name-tag{
    font-size: 15px;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 25px;
}

.name-field{
    font-size: 15px;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0%;
    margin-bottom: 0%;
}

.ins-field{
    font-size: 10px;
    font-weight: 300;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0%;
    margin-bottom: 0%;
}

.icon-save{
    height: 25px;
    width: auto;
    vertical-align: middle;
    margin-right: 5px;
    align-items: right;
}

.question{
    font-size: 15px;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 15px;
    margin-bottom: 0%;
}

.tag-field{
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.tag-button{
    background-color: rgb(235, 235, 235);
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100px;
}

.tag-detail{
    font-size: 10px;
    display: flex;
    justify-content:space-between;
    margin-right: 3%;
}

.tag-bottom{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    align-items: center;
    margin-bottom: 0px;
}
.tag-bottom a{
    width: 100%;
}
.a{
 margin-right: 10px;
}

.answer-btn{
    background-color: #0D5F75;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 5px 5px 5px 0px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
}

.save-btn{
    background-color: none;
    color: #0D5F75;
    border: 2px solid #0D5F75;
    border-radius: 5px;
    padding: 6px 20px;
    font-size: 16px;
    font-weight: 700;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
    width: 100%;
}

.description{
    font-size: 13px;
    font-weight: 500;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 15px;
    margin-bottom: 0%;
}

