
.grid{
  position: fixed;
  background-color: #EEEEEE;
  margin-top:65px;
  width: 100%;
  height: 100%;
}
.grid h1{
  font-size: 20px;
  margin-top: 1%;
  margin-left: 8%;
}
.mod{
    background-color: white;
    color: black;
    box-shadow: 0px 9px 10px 2px rgba(0, 0, 0, 0.23);
    position: absolute;
    border-radius:10px;
    width:65%;
    height: auto;
    font-size: 13px;
    padding: 5px 5px 5px;
    
    margin-top: 0.5%;
    margin-left: 5%;
    }
    .desc{
      text-align: center;
    }
    .gridleft
    {
      /* position: flex; */
        float:left;
        width:80%;
        margin-top: -5%;

    }
    .score{
        background-color: white;
        color: black;
        box-shadow: 0px 9px 10px 2px rgba(0, 0, 0, 0.23);
        position: absolute;
        border-radius:10px;
        width:30%;
        font-size: 13px;
        /* padding-top: 10px; */
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        margin-top: 15%;
        margin-left: 5%;
        }

        .middle{
            background-color: white;
            color: black;
            box-shadow: 0px 9px 10px 2px rgba(0, 0, 0, 0.23);
            position: absolute;
            border-radius:10px;
            width:30%;
            height: 60%;
            font-size: 13px;
            /* padding-top: 10px; */
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            margin-top: 10%;
            margin-left:40%;
            }




            .circle-wrap {
                margin: 20px auto;
                width: 150px;
                height: 150px;
                background: #A3A3A3;
                border-radius: 50%;
              }
              .circle-wrap .circle .mask,
              .circle-wrap .circle .fill {
                width: 150px;
                height: 150px;
                position: absolute;
                border-radius: 50%;
              }
              .circle-wrap .circle .mask {
                clip: rect(0px, 150px, 150px, 75px);
              }
              .circle-wrap .circle .mask .fill {
                clip: rect(0px, 75px, 150px, 0px);
                background-color:#15637C;
              }
              .circle-wrap .circle .mask.full,
              .circle-wrap .circle .fill {
                animation: fill ease-in-out 2s;
                transform: rotate(126deg);
              }
               
              @keyframes fill {
                0% {
                  transform: rotate(0deg);
                }
                100% {
                  transform: rotate(126deg);
                }
              }
              .circle-wrap .inside-circle {
                width: 130px;
                height: 130px;
                border-radius: 50%;
                background: #fff;
                line-height: 130px;
                text-align: center;
                margin-top: 10px;
                margin-left: 10px;
                position: absolute;
                z-index: 100;
                font-weight: 700;
                font-size: 2em;
              }

              .score table {
                color:black;
                position: relative;
                margin-top: 5%;
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
              }
              .score th{
                background-color:#15637C;
                
              }
              
              .scoree td, th {
                /* border: 1px solid #000000; */
                border-radius: 2px;
                text-align: center;
                padding: 8px;
              }
              
             .score tr:nth-child(even) {
                background-color: #dddddd;
              }
              .tags
              {
                padding-bottom: 10px;
                display: flex;
                justify-content: space-around; 
                /* justify-content:space-between; */
              }
              .flex-tag{
                text-align:center;
                width:30%;
                height:20px;
                padding: 2px 2px 2px 2px;
                border-radius: 3px;
                background-color: #DEDEDE;
                color: #6B6B6B;
              }

              .total_skill{
                margin-top: 5%;
                font-weight: 600;
                margin-left: 10%;
              }
              .m_role{
                margin-top: 5%;
                font-weight: 600;
                margin-left: 10%;
              }
              .line
              {
                position: fixed;
                width: 1px;
                height: 100%;
                margin-top: 0;
                background-color: #A3A3A3;
                margin-left: 75%;
              }
              .c4{
               
                /* padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 10px; */
                margin-top: 0.5%;
                margin-left:80%;
                }
                .c4 h3{
                    color: #19758D;
                    text-align: left;
                }
                .start
                {
                    background-color: #15637C;
                    /* color: rgb(0, 0, 0); */
                    font-size: 11px;
                    font-weight: 600;
                    width:40%;
                    margin-left: 30%;
                    margin-top: 2%;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    border-radius: 5px;
                    border: none;
                }
                .tagbox {
                  background-color: white;
                  /* box-shadow: 0px 0px 4px #8a9091; */
                  height: 206px;
                  width: 220px;
                  border-radius: 20px;
              }
              .btn1 {
                background-color: #0D5F75;
                transition-duration: 0.4s;
                color: white;
                border-radius: 5%;
                height: 40px;
                width: 170px;
                font-size: large;
                cursor: pointer;
                margin-left: 22px;
                margin-top: 1rem;
                margin-right: 65px;
            }
            .btn2 {
              border: none;
              background-color: #EFEFEF;
              border-radius: 10%;
              height: 30px;
              width: 88px;
              cursor: pointer;
              margin: 5px;
          }
          .tags1 {
            font-size: 15px;
            text-align: center;
        }
        
        .tags-border{
            padding-bottom: 11.5rem;
        }
        .taghead{
        
        padding-top:30px;
        padding-bottom: 10px;
         /* background-color:white; */
         
        }
        .middle button{
          color: black;
        }






        /* .progress-circle {
          width: 100px;
          height: 100px;
          position: relative;
          border-radius: 50%;
          background: #ddd;
        }
        
        .progress-bar {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background: green;
          position: absolute;
          top: 0;
          left: 0;
          transform: rotate(-90deg);
          transform-origin: 50% 50%;
          animation: progress 1s linear forwards;
        }
        
        @keyframes progress {
          0% {
            transform: rotate(-90deg);
          }
          100% {
            transform: rotate(270deg);
          }
        } */