html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: sans-serif;
  
   
}
/* .grid{
  position: fixed;
  background-color: #EEEEEE;
  margin-top:65px;
  width: 100%;
  height: 100%;
} */

/**=================================================================**/
/**==========================new css================================**/
/**=================================================================**/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
  box-sizing: border-box;
}
/* .body2{

  background-color: #da1122;
  
  display: flex;
 
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
} */
.quiz-container{
  display: block;
  background: #fff;
  box-shadow: 0px 0px 24px #8a9091;
  height: 400px;
  width: 100%;
  width: 800px; 
  border-radius: 5px;
  overflow: hidden;
  padding:2px;
}
.quiz-container label {
  display: block;
  margin-bottom: 10px;
}

.quiz-header{
/* display: block; */
  padding: 2rem;
}
h2{
font-size:larger;
  padding-bottom: 1rem;
  text-align: center;
  margin: 0;
}
ul{
  display: inline-block;
  list-style-type: none;
  position: relative;
  margin: 10px 0 0;
  padding: 0;
}
/* ul input[type='radio'] {
    display: none;
  }

ul input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 9px;
    left: 10px;
    content: " ";
    display: block;
    background: #004c97;
  } */
  
ul li{
    display:flex;
  font-size:15px;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
ul li label{
    margin-top:5px;
    margin-left: 15px;
  cursor: pointer;
}
.quiz-container button{
  background-color:#15637C;
  color:#DEDEDE;
  border: none;
  display: inline-block;
  margin-left: 10%;
  margin-bottom: 5%;
  width:25%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 5px;
}
.quiz-container button:hover{
    color: white;
  background-color:#15637C;
  transform: scale(1.07);
}
.quiz-container button:focus{
  outline: none;
  color: white;
  background-color:#15637C;
  
}
input[type=radio] {
   accent-color: #15637C;
    width: 20px;
    height:20px;  
}
input[type=radio]:hover{
    transform: scale(1.07);
    
}
.cirlce-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:50px;
  width:100%;
  flex-wrap: wrap;
}

.circle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #15637C;
  background-color: #ccc;
  color: #15637C;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  flex-basis: calc(20% - 12px);
}

.circle.active{
  width: 40px;
  height: 40px;
  background-color: #15637C;
  border: 2px solid white;
  color:white;
}
/*/////////////////////////////////*/


