/*============================= custom scrollbar ===================================*/
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color:  #0D5F75;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #3b555d;
}

/*====================================================*/

/*============================= Primary body ===================================*/
body{
    background:  #0D5F75;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    /*line-height: 150%;*/
    color: #ffffff;

    width: 100vw;
    height: auto;
    margin: 10px;

    --menu-item-size: 50px;
    --green-color: #ffffff;
    --blue-color: #19758d;
    --dark-green-color: #175b52;
    --white-color: #FFF;
    --gray-color: #EDEDED;
    --container-width: 700px;
    --container-height: 400px;
    --line-offset: calc((100% - var(--container-height))/ 2 + var(--menu-item-size) + 0.6em);
}

hr.line{
    border-top: 1px solid #0D5F75;
}
/*================================================================*/

/*============================= Main Menu ===================================*/

.logo{
    height: 20px;
    width: auto;
    padding: 10px;
}

.nav-section{
    background-color: #0D5F75;
    color: #fff;
    display: flex;
    font-family: 'Inter';
    justify-content: space-between;
    vertical-align: middle;
    margin: 0%;
    width: 97%;
}

.nav-item{
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-right: 15px;
}

.nav-head{
    font-size: 15px;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 15px;
    color: #fff;
    font-style: normal;
}

.search-bar{
    display: flex;
    align-items: center;
    vertical-align: middle;
    width: 30%;
    justify-content: center;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}

.add-button{
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.add-button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
  margin-top: 13px;
  margin-bottom: 13px;
}

.add-button:hover {
  background-color: #f7fafa;
}

.add-button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

/* .icon{
     height: 25px;
    width: auto;
    padding: 10px;
    vertical-align: middle; 
} */


/*================================================================*/

/*============================= Container ===================================*/
.container {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
    background: var(--white-color);
    background-repeat: repeat-y;
    margin: 0%;
    padding: 2em 0 0 3em;
    color: #0D5F75;

}
.content {
    /* padding: 0 0 0 3em; */
    font-size: 16px;
    display: grid;
    grid-template-columns: 70% 30%;
}

.profile-icon{
    height: 30px;
    width: 30px;
    padding: 5px;
    vertical-align: middle;
    /* box-shadow: #0D5F75 0 2px 5px 0; */
    border-color: #0D5F75;
    border-radius: 50%;  
    margin: 0.1rem 0.1rem 0.1rem 0.1rem; 
    box-shadow: #0D5F75 0 2px 5px 0;
}

.normal-icon{
    height: 20px;
    width: 20px;
    padding: 10px;
    vertical-align: middle;
}

.image{
    margin-right:10px;
    align-items: bottom;
}

.profile-icon-1{
    height: 20px;
    width: 20px;
    padding: 5px;
    vertical-align: middle;
    border-color: #0D5F75;
    border-radius: 50%;  
    margin: 0.1rem 0.1rem 0.1rem 0.1rem; 
    box-shadow: #0D5F75 0 2px 5px 0;
}

.grid-50{
    display: grid;
    grid-template-columns: 70% 30%;
    width: 90%; 
}

.primary-button{
    background-color: #0b4a5c;
    color: var(--white-color);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.primary-button:hover{
    background-color: #0D5F75;
    cursor: pointer;
}

.primary-button:focus{
    background-color: #0D5F75;
}
.primary-button:active{
    background-color: #0D5F75;
}
.primary-button:visited{
    background-color: #0b4a5c;
}

/*=============================Question Card===================================*/
.question-card{
    padding: 1em 1.5em 1.5em 1.5em;
    box-shadow: #0f1111 0 2px 5px 0;
    width: 90%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 30% 70%;
}
.left-card{
    margin-right: 2.5em;
    border-right: #0D5F75 0.5px solid;
}
.profile{
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-right: 15px;
}

.profile-name{
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.profile-name-chat{
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.sub-profile{
    font-size: 11px;
    margin: 0;
    padding: 0;
}

.category{
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}

.field-tag{
    font-size: 12px;
    margin: 3px 3px 3px 3px;
    padding-left: 7px;
    padding-right: 7px;
    background: #484848;
    box-shadow: #0f1111 0 2px 5px 0;
    color: var(--white-color);
    border-radius: 4px;
}

.question{
    font-size: 15px;
    font-weight: 700;
}
.question-chat{
    font-size: 13px;
    font-weight: 650;
}
.description{
    font-size: 13px;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.description-chat{
    font-size: 12px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.details{
    display: flex;
    font-size: 11px;
}

.read-more{
    font-size: 12px;
    margin: 3px 3px 3px 3px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}

/*=============================Chat===================================*/
.chat{
    display:grid;
    grid-template-columns: 25% 75%;
    width: 90%;
}

.left-chat{
    margin-right: 10px;
    border-right: #0D5F75 0.5px solid;
}

.new-chat-btn{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: var(--white-color);
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 20px;
    box-shadow: 0 2px 10px rgb(0, 0, 0 , 0.2);
    border-radius: 5px;
}

.new-chat-btn:hover{
    background-color: #f7fafa;
}

.new-chat-btn:focus{
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .8) 0 2px 4px 0;
    outline: 0;
}

.right-chat{
    margin-left: 10px;
}

.discussion{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 20px;
    background-color: var(--white-color);
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 20px;
    box-shadow: 0 2px 10px rgb(0, 0, 0 , 0.2);
    border-radius: 10px;
}

.topic{
    display: grid;
    grid-template-columns: 5% 95%;
}

.new-reply{
    display: grid;
    grid-template-columns: 95% 5%;
}
.reply{
    display: grid;
    grid-template-columns: 5% 95%;
}

.text-area{
    width: 80%;
    height: 50px;
    font-size: 14px;
    margin-left: 35px;
    padding: 10px;
    border-radius: 10px;
    border:none;
    box-shadow: inset 0 2px 5px rgb(0, 0, 0 , 0.2);
}

.reply-btn{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #0D5F75;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 20px;
    box-shadow: 0 2px 10px rgb(0, 0, 0 , 0.2);
    border-radius: 5px;
}

.reply-btn:hover{
    background-color: #0b4a5c;
}

.reply-btn:focus{
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .8) 0 2px 4px 0;
    outline: 0;
}

.reply-btn:active{
    background-color: #f7fafa;
}

/* --------------------Answer--------------------- */
.name-tag{
    margin-left: 15px;
}

.answer-card{
    padding: 1em 1.5em 1.5em 1.5em;
    box-shadow: #0f1111 0 2px 5px 0;
    width: 90%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 10% 90%;
}


.tag-top{
    display: grid;
    grid-template-columns: 5% 85% 10% ;
}

.rate{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rate-up{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rate-down{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-preview{
    border-radius: 10px;
    box-shadow: inset 0 2px 5px rgb(0, 0, 0 , 0.2);
}


/* Edit Profile Page */

.container-edit-profile {
    border-radius: 1rem;
    width: 97%;
    height: auto;
    background: var(--white-color);
    background-repeat: repeat-y;
    margin: 0%;
    padding: 2em 3em 2em 3em;
    color: #0D5F75;
    overscroll-behavior-x: none;
    display: grid;
    grid-template-columns: 40% 60%;
}

.left-profile-edit{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-right: #0b4a5c 0.5px solid;
}


.profile-picture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

.form-field{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    margin-left: 50px;
    width: 80%;
}

.form-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.form-control{
    border: 0.3px solid #515151;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    color: #19758D;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: left;
    width: 100%;
    height: 30px;
    margin-bottom: 2 0px;
}
label{
    font-size: 13px;
    color: #000000;
    font-family: 'Inter';
    font-style: bold;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: left;
    display: flex;
    align-items: center;
}

.tags{
    background-color: #515151;
    color: #d5d9d9;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 5px;
    font-size: 13px;
    border-radius: 5px;
}

/* -----------------Answer Box---------------- */

h5{
    margin:0px;
}

.answer-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: var(--white-color);
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 20px;
    box-shadow: 0 2px 10px rgb(0, 0, 0 , 0.2);
    border-radius: 10px;
}

.answer-text{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #b9b9b9
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 20px;
    box-shadow: inset 0 2px 10px rgb(0, 0, 0 , 0.2);
    border-radius: 10px;
}