.textEditor{
  padding: 1rem;
  border: 1px solid;
  border-radius: 5px;
}
.textEditor .options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
.textEditor button {
  height: 28px;
  width: 28px;
  display: grid;
  place-items: center;
  border-radius: 3px;
  border: none;
  background-color: #ffffff;
  outline: none;
  color: #020929;
}
.textEditor select {
  padding: 7px;
  border: 1px solid #020929;
  border-radius: 3px;
}
.textEditor .input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
}
.textEditor input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 25px;
  height: 28px;
  border: none;
  cursor: pointer;
}
.textEditor input[type="color"]::-webkit-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}
.textEditor input[type="color"]::-moz-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}
.textEditor #text-input {
  margin-top: 10px;
  border: 1px solid #dddddd;
  padding: 20px;
  height: 50vh;
  width: 58.2vw;
  font-size: 12px;
  resize: vertical;
}
.textEditor .active {
  background-color: #e0e9ff;
}